[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/stats"]
	path = external/stats
	url = https://github.com/kthohr/stats.git
[submodule "external/gcem"]
	path = external/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "external/csv-parser"]
	path = external/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "external/z3"]
	path = external/z3
	url = https://github.com/fabianbs96/z3.git
