build/
build-/
.idea/
.*.*.swp
.clangd/
__pycache__/
*.pyc
compile_commands.json
vara_feature.egg-info
dist/
.mypy_cache/
venv/
CMakeLists.txt.user
.cache/
.vscode/c_cpp_properties.json

# Ignore sourcetrail files
*.srctrlbm
*.srctrldb
*.srctrlprj

#Ignore vsCode workspace changes
.vscode/build-/
build/
CMakeLists.txt
CMakeCache.txt
.vscode/launch.json

